<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <header class="masthead bg-dark text-white text-center">
        <div class="container d-flex align-items-center flex-column">
           
            <br>
            <img style="border-radius: 300px;" class="masthead-avatar mb-5" src="img/actividades.jpg" alt="500" width="500" >
            <!-- Masthead Heading -->
            <i>
                <h1 class="masthead-heading text-uppercase-brand text-warning mb-0">Actividades</h1>
            </i>

            <br>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>           
        </div>
    </header>
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <h1>Lista de Actividades</h1>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <th>Nombre Actividad</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    <% actividad.forEach(element => { %>
                    <tr>
                        <td>
                            <%= element['nombreactividad']%>
                        </td>
                        <td>
                            <%= element['descripcionactividad']%>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>