<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Reserva</title>
</head>
<body>
        <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">RESERVA !</h1>
                    <p class="lead">Reservar con nosotros es simple y fácil. Sólo complete el formulario de reserva aquí debajo y le enviaremos un email con el itinerario y los detalles de pago. Por favor, no olvide que debe efectuar el pago de su reserva dentro de las 24 horas de realizada la misma. </p>
                  

                    <div class="card-body">
                        <form id="formDatos" name="formDatos" method="POST" action="/addDato">
              
                          <% if(typeof registro !== 'undefined'){ %>
                          <input type="hidden" name="idreserva" value="<%= registro[0]['idreserva']%>">
                          <% } %>
                          <% if(typeof registro === 'undefined'){ %>
                          <input name="idreserva" type="hidden" value="0">
                          <% } %>
              
                          <div class="form-group">
                            <label for="exampleInputEmail1">Nombres</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="nombres" name="nombres" value="<%= registro[0]['nombres']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="nombres" name="nombres" value="">
                            <% } %>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">apellidos</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" value="<%= registro[0]['apellidos']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="apellidos" name="apellidos" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">correo</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="correo" name="correo" value="<%= registro[0]['correo']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="correo" name="correo" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Asunto</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="asunto" name="asunto" value="<%= registro[0]['asunto']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="asunto" name="asunto" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Mensaje</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="mensaje" name="mensaje" value="<%= registro[0]['mensaje']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="mensaje" name="mensaje" value="">
                            <% } %>
              
                          </div>
                        
                        <div class="form-group">
                          <label for="exampleInputPassword1">fechainicio</label>
                          <% if(typeof registro !== 'undefined'){ %>
                          <input type="text" class="form-control" id="fechainicio" name="fechainicio" value="<%= registro[0]['fechainicio']%>">
                          <% } %>
                          <% if(typeof registro === 'undefined'){ %>
                          <input type="text" class="form-control" id="fechainicio" name="fechainicio" value="">
                          <% } %>
            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">fechafin</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="fechafin" name="fechafin" value="<%= registro[0]['fechafin']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="fechafin" name="fechafin" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">actividad</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="actividad" name="actividad" value="<%= registro[0]['actividad']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="actividad" name="actividad" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">hotel</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="hotel" name="hotel" value="<%= registro[0]['hotel']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="hotel" name="hotel" value="">
                            <% } %>
              
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">transporte</label>
                            <% if(typeof registro !== 'undefined'){ %>
                            <input type="text" class="form-control" id="transporte" name="transporte" value="<%= registro[0]['transporte']%>">
                            <% } %>
                            <% if(typeof registro === 'undefined'){ %>
                            <input type="text" class="form-control" id="transporte" name="transporte" value="">
                            <% } %>
              
                          </div>
                          <button type="submit" class="btn btn-success">Aceptar</button>
                        </form>
                      </div>
                    </div>
                    <h1></h1>
              
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
                  
               <!--   
                    <hr class="my-4">
                    <div class="row">
                        <div class="col">
                            <div>
                                <div class="form-group">
                                    <label>Nombres</label>
                                    <input type="txt" class="form-control" id="nombre">
                                </div>
                                <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="txt" class="form-control" id="apellido">
                                    </div>
                                    <div class="form-group">
                                            <label>Correo Electronico</label>
                                            <input type="txt" class="form-control" id="correo">
                                        </div>
                                        <div class="form-group">
                                                <label>Asunto</label>
                                                <input type="txt" class="form-control" id="asunto">
                                            </div>
                                            <div class="form-group">
                                                    <label>Mensaje</label>
                                                    <input type="txt" class="form-control" id="mensaje">
                                                </div>
            
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Fecha de inicio de reserva</label>
                                    <input type="date" class="form-control" id="fecha1">
                                </div>
                                <div class="form-group">
                                        <label for="exampleInputPassword1">Fecha final de reserva</label>
                                        <input  type="date" class="form-control" id="fecha2">
                                    </div>
                                    <div class="form-group">
                                        <label>Actividad</label>
                                        <input type="txt" class="form-control" id="actividad">
                                    </div>
                                    <div class="form-group">
                                        <label>Hotel</label>
                                        <input type="txt" class="form-control" id="hotel">
                                    </div>
                                    <div class="form-group">
                                        <label>Transporte</label>
                                        <input type="txt" class="form-control" id="transporte">
                                    </div>
                                    <button onclick="addReserva()" type="button"  class="btn-green">Registrar</button>
  
                                <button type="button" onclick="addReserva()" class="btn btn-danger">Rr</button>
                                <button type="button" onclick="leerDatos()" class="btn btn-primary">Leer Datos</button>
                            </div>
                            <div>
                                    <img src="http://awsassets.panda.org/img/original/005_caqueta_2018__40luisbarretophotos_.jpg" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                    -->
    
                       
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
<script src="../js/app.js"></script>

</body>
</html>