form{
	background-color: white;
	border-radius: 3px;
	color: #999;
	font-size: 0.8em;
	padding: 2px;
	margin: 0 auto;
	width: 300px;
}

input, textarea{
	border: 0;
	outline: none;

	width: 280px;
}

.field{
	border: solid 1px #ccc;
	padding: 100px;

	
}

.field:focus{
	border-color: #18A383;
}

.btn-green[type="button"]{
	
	border: none;
	background: lightseagreen;
	height: 40px;
	color: #000102;
	border-radius: 16px;
}
label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
	margin: .4rem 0;
}
div[data-ui-role=ui-element][data-type=dropdown]>select {
	font-size: inherit;
}